@font-face {
  font-display: swap;
  font-family: "Saira Extra Condensed";
  font-style: normal;
  font-weight: 200;
  src: url("../vendor/Saira_Condensed/saira-extra-condensed-v13-latin-ext-200.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Saira Extra Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("../vendor/Saira_Condensed/saira-extra-condensed-v13-latin-ext-regular.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Saira Extra Condensed";
  font-style: normal;
  font-weight: 500;
  src: url("../vendor/Saira_Condensed/saira-extra-condensed-v13-latin-ext-500.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Saira Extra Condensed";
  font-style: normal;
  font-weight: 600;
  src: url("../vendor/Saira_Condensed/saira-extra-condensed-v13-latin-ext-600.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Saira Extra Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("../vendor/Saira_Condensed/saira-extra-condensed-v13-latin-ext-700.woff2")
    format("woff2");
}
:root {
  --custom-main: #389bbd;
  --border-lime: #14c08c;
  --basic-white: #fefefe;
  --inset-white: #f8f9fa;
  --subtitle-white: #fafafa;
  --inset-grey: #c3ccd5;
  --darkmode-text: #dddddd;
  --darkmode-bg: #111111;
  --card-text: #696f74;
  --hover-dark: #495057;
  --header-grey: #343a40;
  --hover-cyan: #1a8a9d;
  --blue-black: #335;
  --shadow-grey: #aaaaaa;
  --loading-bg: #eeeeee;
  --dark-bg: #223;
  --sigma-green: #1a9d29;
  --icon-bug: #ffc107;
  --icon-bug-bg: #b7a800;
  --icon-chat: #20c997;
  --icon-light: #b5bec7;
  --icon-dark: #414a51;
  --bg-primary: #0f6b8a;
  --text-primary: #2b7891;
  --tooltip-modifier: #004d66;
  --tooltip-dark: #660008;
  --blood: #57141a;
  --shadow-red: #b6000f;
  --link-blue: #117697;
  --link-hover: #078d8d;
  --btn-hover: #efffff;
  --header-red: #c20404;
  --dm-span-red: #dc3545;
  --subheader-red: #c13d3d;
  --header-orange: #fd7e14;
  --dm-hover-dark: #1c1f23;
  --dm-hover-border: #1a1e21;
  --custom-pink: #ff8792;
}
html {
  overflow-x: hidden;
}
html:has(body.modal-open) {
  overflow-y: hidden;
}
body::-webkit-scrollbar {
  width: 0.8rem;
}
body::-webkit-scrollbar-track {
  background: rgb(253, 253, 253, 0.7);
  box-shadow: inset 1px 0 5px rgb(150, 150, 150);
}
body::-webkit-scrollbar-thumb {
  background: rgba(73, 80, 87, 0.7);
  box-shadow: inset 0 0 7px rgb(70, 70, 70);
  border-radius: 0 25px 25px 0;
}
body::-webkit-scrollbar-thumb:hover {
  background: rgba(52, 58, 64, 0.8);
  box-shadow: inset 0 0 7px rgb(20, 20, 20);
}
.modal::-webkit-scrollbar {
  width: 0.5rem;
}
.modal::-webkit-scrollbar-track {
  background: rgb(253, 253, 253, 0.7);
  box-shadow: inset 1px 0 5px rgb(150, 150, 150);
}
.modal::-webkit-scrollbar-thumb {
  background: rgba(73, 80, 87, 0.7);
  box-shadow: inset 0 0 7px rgb(70, 70, 70);
  border-radius: 5px;
}
.modal::-webkit-scrollbar-thumb:hover {
  background: rgba(52, 58, 64, 0.8);
  box-shadow: inset 0 0 7px rgb(20, 20, 20);
}
#navbarSupportedContent,
#about,
#skills,
#awards,
footer {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#sideNav {
  background-color: var(--custom-main) !important;
  background: linear-gradient(
    45deg,
    hsl(195, 100%, 20%) 10%,
    hsl(195, 54%, 48%) 100%
  );
}
.apps {
  margin-left: 0 !important;
}
div u.via {
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 0.8em;
  opacity: 0.9;
}
.interests > li {
  padding-left: 5px;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}
#interests #interestsCarousel {
  width: clamp(18rem, 75%, 1200px);
  border-radius: 40% 60% 30% 70% / 50% 60% 40% 50%;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}
#interests #interestsCarousel:hover {
  border-radius: 60% 40% 40% 60% / 60% 50% 50% 40%;
  transform: scale(1.05);
  filter: brightness(1.1) drop-shadow(1px 1px 2px rgba(15, 107, 138, 0.9));
}
#interests #interestsCarousel .carousel-indicators {
  margin-right: 10%;
  margin-bottom: 1.25rem;
  margin-left: 50%;
}
#interests #interestsCarousel .carousel-indicators button:nth-child(1) {
  position: relative;
  top: 2px;
}
#interests #interestsCarousel .carousel-indicators button:nth-child(2) {
  position: relative;
  top: 1px;
}
#interests #interestsCarousel .carousel-indicators button {
  cursor: pointer;
  width: 1rem;
  height: 0.75rem;
  border-radius: 50%;
  filter: drop-shadow(1px 1px 0.5px rgb(0 0 0 /0.8))
    drop-shadow(0.5px -0.5px 0.5px rgb(0 0 0 /0.8));
}
.browserModal {
  border: 2px solid #f1b706;
  border-radius: 7px;
}
.site {
  width: 100%;
  height: 80vh;
  border-radius: 15px;
}
.siteUI {
  width: 100%;
  border-radius: 10px;
}
div.card {
  width: clamp(14rem, 45%, 22rem) !important;
  margin-bottom: 0;
  transform: translateY(0) scale(1);
  transition-property: transform;
  transition-duration: 200ms;
  transition-delay: 1ms;
  background-color: var(--basic-white);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
div.card .btn,
form .btn {
  font-family: "Saira Extra Condensed", sans-serif;
}
form .btn {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.25rem;
  padding: 2px 1.25rem;
}
div.card .card-img-top {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
div.card .card-text,
div.card .icon_container {
  color: var(--card-text);
}
div.card:hover {
  transform: translateY(-2px) scale(1.1);
  box-shadow: -1px 1px 3px rgba(0, 0, 5, 0.1), -3px 5px 9px rgba(2, 2, 8, 0.15),
    0 15px 15px rgba(0, 0, 0, 0.25);
  z-index: 100;
  transition-property: transform;
  transition-duration: 300ms;
  transition-delay: 1ms;
}
.cert-section {
  line-height: 230%;
  margin-left: 2px;
}
.cert-section .btn-light {
  outline: 0.5px solid var(--darkmode-text);
}
.cert-section .bg-secondary {
  margin-left: 4px;
}
iframe.site {
  border-radius: 13px;
}
.flipLink:visited {
  color: var(--gray-dark);
}
.flipLink a {
  display: inline-block;
}
.secHeading {
  color: #6c757d;
  border-right: 3px solid #6c757d;
  border-left: 3px solid #6c757d;
  display: inline-block;
  border-radius: 11px;
  padding: 0 5px;
  margin-top: 3px;
}
.skills-container {
  max-width: calc(100% - 1rem);
}
.list-inline-item .colored {
  transition-property: transform;
  transition-duration: 500ms;
  transition-delay: 50ms;
}
.list-inline-item:hover .colored {
  transform: scale(1.3) rotateZ(360deg);
  transition-property: transform;
  transition-duration: 500ms;
  transition-delay: 1ms;
}
.flip {
  transition-property: transform;
  transition-duration: 250ms;
}
.list-inline-item .colored {
  display: inline-block;
}
.flip:hover {
  color: var(--hover-cyan) !important;
  transform: scale(0.9);
  transition-property: transform;
  transition-duration: 250ms;
}
.flip:hover .fa-inverse {
  transform: rotateZ(360deg);
  transition-property: transform;
  transition-duration: 400ms;
}
a img.solo_link {
  width: 70px;
  height: 56px;
}
div.icon_container {
  display: flex;
  gap: 0.4rem;
  flex-wrap: wrap;
}
div.icon_container img {
  width: 16px;
  height: 16px;
  filter: grayscale(1);
}
div.card-body .icon_container.icon_container i:hover {
  color: currentColor !important;
}
.color-modifier:not(:hover) {
  color: var(--blue-black) !important;
}
#alert-container {
  margin-left: 2px;
}
#infoAlert {
  margin-top: 3.5rem;
  max-width: 650px;
}
#infoAlert .alert-dismissible {
  padding-right: 3.5rem;
}
#message {
  min-height: 77px;
}
#footer {
  -webkit-backdrop-filter: invert(2%);
  backdrop-filter: invert(1%);
  letter-spacing: 0.5px;
  border-bottom: none;
  box-shadow: inset 0.5px 1.5px 3px hsla(0, 0%, 50%, 0.5);
  padding: 8rem 4rem 8rem 3rem !important;
}
.img-profile {
  animation: greenGlow 1s linear 10ms reverse;
}
#interests,
.relativ {
  position: relative;
}
.modImgUI {
  border-radius: 10px;
}
.watermark {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  font-size: 10rem;
  color: white;
  z-index: -1;
  transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  opacity: 0.2;
  text-shadow: 5px -1px 25px var(--shadow-grey);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#topic:required:valid,
#topic option {
  color: #212529;
  cursor: pointer;
}
#topic:required:invalid {
  color: var(--bs-secondary-color);
}
#captcha {
  overflow-x: auto;
  overflow-y: clip;
}
.langList {
  list-style-type: disc;
  margin: 10px 0 10px 0;
  padding-left: 20px;
}
.de-icon {
  height: 0.75em;
  width: 0.75em;
  vertical-align: initial;
  margin-left: 3px;
}
.RODO {
  line-height: 1.7;
}
.additional-info {
  margin-left: 20px;
}
.additional-list li {
  margin: 5px;
}
.additional-badge {
  margin-bottom: 10px;
}
.additional-list li::marker,
.langList li::marker {
  color: rgba(134, 142, 150, 0.45);
}
.langList li {
  margin: 5px;
  letter-spacing: 0.5px;
  font-weight: 600;
}
.list-inline-item a:hover {
  text-decoration: none;
}
.img_avatar_dark_mode_modifier {
  -webkit-filter: contrast(120%) saturate(90%) grayscale(50%);
  filter: contrast(120%) saturate(90%) grayscale(50%);
  background-color: var(--dark-bg);
}
li b::before {
  background-size: 13px 13px;
  display: inline-block;
  margin-right: 5px;
  width: 13px;
  height: 13px;
  content: " ";
}
.solol b::before {
  background-image: url("../img/SL.PNG");
}
.m1m0 b::before {
  background-image: url("../img/M1M0.png");
}
.prohub b::before {
  background-image: url("../img/PHlog.png");
}
.udem b::before {
  background-image: url("../img/udemy.png");
}
.ssoft b::before {
  background-image: url("../img/SS.png");
}
.duol b::before {
  background-image: url("../img/DL.png");
}
.googl b::before {
  background-image: url("../img/GL.png");
}
.grass b::before {
  background-image: url("../img/GH.png");
}
.sixsigma b::before {
  background-image: url("../img/SixS.png");
}
.uk {
  list-style-image: url("../img/flag-UK.png");
}
.pl {
  list-style-image: url("../img/flag-PL.png");
}
.de {
  list-style-image: url("../img/flag-GR.png");
}
.recruiter-link {
  font-weight: 600;
  text-shadow: 0.5px 0.5px 0 #545b62;
}
#GSAP {
  margin-bottom: 13px;
}
.changeGSAP:hover,
.changeGSAP:focus {
  -webkit-filter: hue-rotate(120deg);
  filter: hue-rotate(120deg);
}
.blueChangePWA:hover,
.blueChangePWA:focus {
  -webkit-filter: invert(75%) hue-rotate(105deg);
  filter: invert(75%) hue-rotate(105deg);
}
.formLabel {
  font-variant: small-caps;
  font-weight: 600;
  transform: translateX(0) translateY(0) scale(1);
  transition-property: transform;
  transition-duration: 200ms;
  transition-delay: 5ms;
}
.formLabel:hover {
  transform: translateX(6px) translateY(-3px) scale(1.2);
  transition-property: transform;
  transition-duration: 200ms;
  transition-delay: 5ms;
}
#actionBtn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: var(--custom-main);
}
.modalClose {
  position: absolute;
  top: -10px;
  left: -10px;
  border-radius: 50% 50% 1px 50%;
  background-color: var(--basic-white) !important;
  z-index: 100;
  width: 18px;
  height: 18px;
  padding: 4px;
  opacity: 0.95;
  background-size: 14px;
}
img#imageTag {
  border-radius: 7px;
}
.redGlowBtn {
  animation: redGlowConstBTN 2s linear 2s infinite alternate-reverse;
}
div img.flav_icon {
  height: 18px;
  margin-bottom: 4px;
  margin-right: 3px;
}
.bio {
  width: 75%;
}
.siteLink {
  position: absolute;
  bottom: -42px;
  left: calc(50% - 22.5px);
  z-index: -1;
  border: none;
  outline: none;
  background-color: var(--basic-white);
  color: black;
  cursor: pointer;
  padding: 10px;
  border-radius: 1px 1px 50% 50%;
  font-size: 16px;
  opacity: 0.95;
}
.modalAddon {
  box-shadow: 0 1px 1px #222;
}
.modalAddon:hover {
  background-color: var(--hover-dark) !important;
}
.siteLink .actionBtnhint {
  visibility: hidden;
  position: absolute;
  z-index: 99;
  top: 8px;
  left: 115%;
  background-color: var(--hover-dark);
  width: 100px;
  color: var(--basic-white);
  text-align: center;
  padding: 2px 0;
  border-radius: 1px 13px 13px 13px;
}
.siteLink:hover .actionBtnhint {
  visibility: visible;
  -webkit-animation: faderAnimation 0.5s;
  animation: faderAnimation 0.5s;
}
.siteLink:hover {
  background-color: var(--hover-dark);
  opacity: 0.99;
  color: white;
}
#darkMode:hover,
#lightMode:hover,
#actionBtn:hover,
#actionBtnChat:hover {
  background-color: var(--hover-dark);
  opacity: 0.9;
  transform: scale(1.05) translateX(-1px) translateY(-1px);
  transition-property: transform;
  transition-duration: 200ms;
  transition-delay: 5ms;
}
.text-form {
  color: var(--hover-cyan);
}
h4 span.text-info {
  color: var(--sigma-green) !important;
}
#actionBtn .actionBtnhint {
  visibility: hidden;
  position: absolute;
  z-index: 99;
  top: 2px;
  right: 115%;
  background-color: var(--hover-dark);
  width: 140px;
  color: var(--basic-white);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
}
#actionBtn:hover .actionBtnhint {
  visibility: visible;
  -webkit-animation: faderAnimation 1s;
  animation: faderAnimation 1s;
}
#actionBtnChat {
  position: fixed;
  bottom: 60px;
  right: 10px;
  background-color: var(--icon-chat);
}
#actionBtnChat .actionBtnhint {
  visibility: hidden;
  position: absolute;
  z-index: 99;
  top: 2px;
  right: 115%;
  background-color: var(--hover-dark);
  width: 140px;
  color: var(--basic-white);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
}
#actionBtnChat:hover .actionBtnhint {
  visibility: visible;
  -webkit-animation: faderAnimation 1s;
  animation: faderAnimation 1s;
}
#lightMode {
  display: none;
  position: fixed;
  bottom: 110px;
  right: 10px;
  background-color: var(--icon-light);
  animation: clicker 0.1s reverse;
}
#lightMode .actionBtnhint {
  visibility: hidden;
  position: absolute;
  z-index: 99;
  top: 2px;
  right: 115%;
  background-color: var(--hover-dark);
  width: 140px;
  color: var(--basic-white);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
}
#lightMode:hover .actionBtnhint {
  visibility: visible;
  -webkit-animation: faderAnimation 1s;
  animation: faderAnimation 1s;
}
#darkMode {
  display: flex;
  position: fixed;
  bottom: 110px;
  right: 10px;
  background-color: var(--icon-dark);
  animation: clicker 0.1s reverse;
}
#darkMode .actionBtnhint {
  visibility: hidden;
  position: absolute;
  z-index: 99;
  top: 2px;
  right: 115%;
  background-color: var(--hover-dark);
  width: 140px;
  color: var(--basic-white);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
}
#darkMode:hover .actionBtnhint {
  visibility: visible;
  -webkit-animation: faderAnimation 1s;
  animation: faderAnimation 1s;
}
.subtitle span {
  color: var(--icon-bug);
  text-shadow: 0 0.5px 0 #545b62;
  opacity: 0.9;
}
.pointer-arrows {
  color: var(--icon-bug);
  text-shadow: 0 0 0 var(--darkmode-bg);
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.inset {
  background-color: var(--inset-white);
  border: 1px solid var(--inset-white);
  border-radius: 3px;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}
.inset:hover {
  border: 1px solid var(--inset-grey);
}
.up-button {
  transform: scale(1);
  transition-property: transform;
  transition-duration: 50ms;
  opacity: 0.8;
}
.up-button:active {
  transform: scale(0.8);
  transition-property: transform;
  transition-duration: 100ms;
}
.university-icon {
  height: 25px;
  margin-right: 4px;
}
.width-50 {
  width: 50%;
}
.floatBtn {
  z-index: 102;
  border: none;
  outline: none;
  color: black;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0.8;
  box-shadow: 0 1px 1px var(--darkmode-bg);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.floatBtn:hover {
  color: white;
}
img.small-icon-std {
  height: 16px;
  margin-bottom: 4px;
  margin-right: 3px;
}
#loading-container {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1234;
  border-left: 280px solid transparent;
  border-right: 0 solid transparent;
  border-top: 280px solid #696f7475;
  pointer-events: none;
}
#loading-wrapper {
  position: fixed;
  width: 160px;
  height: 160px;
  right: 0;
  top: 0;
  opacity: 0.8;
}
#loading-text {
  display: block;
  position: absolute;
  font-family: Impact, Tahoma, sans-serif;
  top: 50%;
  left: 0;
  color: var(--custom-main);
  width: 100%;
  height: 100%;
  margin-top: -15px;
  text-align: center;
  font-size: 1.2em;
  letter-spacing: 2px;
}
#loading-content {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 3px solid var(--custom-main);
}
#loading-content:after {
  content: "";
  position: absolute;
  border: 3px solid var(--border-lime);
  left: 15px;
  right: 15px;
  top: 15px;
  bottom: 15px;
}
#loading-content:before {
  content: "";
  position: absolute;
  border: 3px solid var(--custom-main);
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
}
#loading-content {
  border: 8px solid transparent;
  border-top-color: var(--custom-main);
  border-bottom-color: var(--custom-main);
  border-radius: 50%;
  -webkit-animation: loader 2s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 2s linear infinite;
}
#loading-content:before {
  border: 6px solid transparent;
  border-top-color: var(--border-lime);
  border-bottom-color: var(--border-lime);
  border-radius: 50%;
  -webkit-animation: loader 3s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 3s linear infinite;
}
#loading-content:after {
  border: 4px solid transparent;
  border-top-color: var(--hover-dark);
  border-bottom-color: var(--hover-dark);
  border-radius: 50%;
  -webkit-animation: loader 1.5s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 1.5s linear infinite;
}
body {
  font-family: "Arial", sans-serif;
  padding-top: 54px;
  color: var(--card-text) !important;
}
.list-group-item,
.list-group-flush {
  color: var(--card-text) !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--header-grey);
}
h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}
h2 {
  font-size: 3.5rem;
}
.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Saira Extra Condensed", sans-serif;
  font-size: 1.35rem;
}
h5.skills-header {
  font-weight: 500;
}
.list-social-icons a {
  color: var(--hover-dark) !important;
}
.list-social-icons a:hover {
  color: var(--custom-main);
}
.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}
.list-icons {
  font-size: 3rem;
}
.list-icons .list-inline-item i:hover {
  color: var(--custom-main);
}
#sideNav .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
}
section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}
section.resume-section .resume-item .resume-date {
  min-width: auto;
}
.bg-primary {
  background-color: var(--bg-primary) !important;
}
.text-primary {
  color: var(--text-primary) !important;
}
.rounded-pill.bg-light {
  box-shadow: inset 0 0 3px rgb(0 0 0 / 40%);
}
.tooltip-modifier {
  --bs-tooltip-zindex: 101;
  --bs-tooltip-bg: var(--tooltip-modifier);
  --bs-tooltip-color: white;
  --bs-tooltip-border-radius: 1.5rem;
  --bs-tooltip-opacity: 0.99;
  --bs-tooltip-padding-x: 0.66rem;
  --bs-tooltip-padding-y: 0.33rem;
  --bs-tooltip-arrow-width: 0.6rem;
}
#HeaderSurname {
  color: rgba(255 255 255 / 0.1);
  background-clip: text;
  background-image: linear-gradient(
    45deg,
    hsl(195, 100%, 20%) 20%,
    hsl(195, 54%, 48%) 80%
  );
}
a {
  color: var(--link-blue);
  text-decoration: none !important;
}
a:hover,
a:focus,
a:active {
  color: var(--link-hover);
}
a.btn:hover,
a.btn:focus,
a.btn:active {
  color: var(--btn-hover);
}
@media (max-width: 992px) {
  #loading-container {
    position: fixed;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    z-index: 1234;
    border-left: 0 solid transparent;
    border-top: 0 solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 0 solid transparent;
  }
  #footer {
    padding-left: 2rem !important;
  }
  #loading-wrapper {
    position: fixed;
    width: 120px;
    height: 120px;
    left: 5px;
    bottom: 5px;
    right: auto;
    top: auto;
    opacity: 0.9;
    background-color: var(--loading-bg);
    border-radius: 50%;
  }
  #loading-text {
    font-size: 0.85em;
    letter-spacing: 0;
    margin-top: -10px;
  }
  #loading-content {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    margin: -60px 0 0 -60px;
    border: 3px solid var(--custom-main);
  }
  div.card:hover {
    transform: translateX(2px) translateY(-2px) scale(1.05);
  }
}
@media (min-width: 1200px) {
  #alert-container {
    max-width: 90vw;
  }
}
@media (max-width: 576px) {
  .modalClose {
    top: -5px;
    left: -5px;
    border-radius: 50%;
  }
  .bio {
    width: 90%;
  }
  div.card {
    width: 75vw !important;
  }
}
@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 10rem;
  }
  html:has(body.modal-open) .floatBtn {
    right: 23px !important;
  }
}
@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}
.font-9 {
  font-size: 0.9em;
}
.resume-item.d-flex {
  justify-content: space-between;
}
.dark_mode::-webkit-scrollbar-track {
  background: var(--header-grey) !important;
  box-shadow: none;
}
.dark_mode::-webkit-scrollbar-thumb {
  background: rgb(255, 0, 0, 0.7);
  box-shadow: inset 0 0 5px #90000c;
}
.dark_mode::-webkit-scrollbar-thumb:hover {
  background: rgba(163, 0, 14, 0.7);
  box-shadow: inset 0 0 5px #520007;
}
.dark_mode .img-profile {
  -webkit-filter: hue-rotate(350deg) contrast(150%) brightness(90%)
    saturate(90%) grayscale(50%) drop-shadow(0 0 5px red)
    drop-shadow(3px 3px 8px var(--darkmode-bg));
  filter: hue-rotate(350deg) contrast(150%) brightness(90%) saturate(90%)
    grayscale(50%) drop-shadow(0 0 5px red)
    drop-shadow(3px 3px 8px var(--darkmode-bg));
  animation: redGlow 1500ms linear 0s 1 normal,
    redGlowConst 3s linear 2s infinite alternate-reverse;
}
.dark_mode .edu img {
  -webkit-filter: drop-shadow(0.5px 0.5px 0 var(--shadow-red));
  filter: drop-shadow(0.5px 0.5px 0 var(--shadow-red));
}
.dark_mode .subtitle span {
  color: var(--subtitle-white);
}
.dark_mode .tooltip-modifier {
  --bs-tooltip-bg: var(--tooltip-dark);
  --bs-tooltip-color: white;
}
.dark_mode .apps {
  -webkit-filter: invert(1) hue-rotate(170deg);
  filter: invert(1) hue-rotate(170deg);
}
.dark_mode .form-control {
  color: var(--loading-bg);
}

.dark_mode #captcha {
  filter: invert(1) grayscale(0.25) hue-rotate(200deg);
}

.dark_mode #footer {
  box-shadow: none;
}
.dark_mode .watermark {
  color: black;
  text-shadow: 1px -1px 3px black;
}
.dark_mode .modImgUI {
  -webkit-filter: contrast(90%) saturate(90%) brightness(0.95);
  filter: contrast(90%) saturate(90%) brightness(0.95);
}
.dark_mode #HeaderName {
  color: var(--darkmode-text) !important;
}
.dark_mode #HeaderSurname {
  background-image: linear-gradient(
    45deg,
    var(--header-orange) 25%,
    var(--header-red) 50%
  );
  text-shadow: none !important;
}
.dark_mode .fa-ul a,
.dark_mode .subheading a {
  color: var(--header-red);
}
.dark_mode #actionBtn {
  background-color: var(--header-red);
}
.dark_mode #actionBtnChat {
  background-color: var(--header-orange);
}
.dark_mode .chatHead,
.dark_mode .chatHolder {
  background-color: var(--header-grey);
}
.dark_mode .chatInput {
  background-color: var(--darkmode-bg);
}
.dark_mode .chatInput:disabled {
  background-color: #343a41;
}
.dark_mode #topic:required:valid,
.dark_mode #topic option {
  color: var(--loading-bg);
}
.dark_mode .chatInput::placeholder,
.dark_mode #topic:required:invalid {
  color: hsla(0, 100%, 60%, 0.4);
}
.dark_mode {
  color: var(--darkmode-text) !important;
  background-color: var(--darkmode-bg);
}
.dark_mode h1,
.dark_mode h2,
.dark_mode h3 {
  color: var(--subheader-red);
  background-color: var(--darkmode-bg);
  text-shadow: 0 0 1px red;
}
.dark_mode h5.skills-header {
  color: hsl(0deg 60% 70%);
  background-color: var(--darkmode-bg);
  text-shadow: 1px 0 0 rgb(150, 0, 0);
}
.dark_mode h1 .text-primary,
.dark_mode h2 .text-primary,
.dark_mode h3 .text-primary {
  color: var(--subheader-red) !important;
  text-shadow: 0 0 1px red;
}
.dark_mode .list-group-flush > * {
  color: var(--darkmode-text) !important;
  background-color: var(--darkmode-bg) !important;
  border: 1px solid rgba(250, 250, 250, 0.125);
  border-width: 0 0 1px 0;
}
.dark_mode .list-group-flush {
  border-bottom-width: 0 !important;
}
.dark_mode #infoAlert {
  color: var(--darkmode-text) !important;
  background-color: var(--blood);
  border: 1px solid var(--header-grey);
  border-radius: 3px;
  box-shadow: inset -2px -2px 10px #24090b, inset 2px 2px 10px #24090b;
}
.dark_mode #infoAlert .recruiter-link {
  -webkit-filter: hue-rotate(175deg) saturate(1.5) contrast(300%)
    brightness(95%);
  filter: hue-rotate(175deg) saturate(1.5) contrast(300%) brightness(95%);
}
.dark_mode #sideNav {
  background-color: var(--header-grey) !important;
  background: linear-gradient(
    45deg,
    hsl(210deg 10.34% 15%) 10%,
    var(--header-grey) 100%
  );
}
.dark_mode #lightMode {
  display: flex !important;
}
.dark_mode #darkMode {
  display: none !important;
}
.dark_mode .resume-date span,
.dark_mode span.text-form {
  color: var(--dm-span-red) !important;
}
.dark_mode .additional-badge {
  background-color: var(--dm-span-red) !important;
}
.dark_mode #infoAlert span.text-info {
  color: var(--header-orange) !important;
}
.dark_mode li .btn-light {
  color: white;
  background-color: var(--header-grey);
  border-color: var(--header-grey);
}
.dark_mode li .btn-light:hover {
  background-color: var(--dm-hover-dark);
  border-color: var(--dm-hover-border);
}
.dark_mode .btn-success {
  filter: hue-rotate(250deg) saturate(1.5);
}
.dark_mode i.devicon:focus,
.dark_mode .fa-stack.fa-lg:focus,
.dark_mode .flipLink:focus {
  color: var(--blood) !important;
}
.dark_mode i.devicon:hover,
.dark_mode .fa-stack.fa-lg:hover,
.dark_mode .flipLink:hover {
  color: red !important;
}
.dark_mode i.devicon:active,
.dark_mode .fa-stack.fa-lg:active,
.dark_mode .flipLink:active {
  color: var(--blood) !important;
}
.dark_mode .blueChangePWA:hover,
.dark_mode .blueChangePWA:focus {
  -webkit-filter: hue-rotate(100deg) saturate(2);
  filter: hue-rotate(100deg) saturate(2);
}
.dark_mode #GSAP:hover,
.dark_mode #GSAP:focus {
  -webkit-filter: saturate(10) hue-rotate(240deg) contrast(5);
  filter: saturate(10) hue-rotate(240deg) contrast(5);
}
.dark_mode #loading-wrapper {
  filter: invert(100%);
}
.dark_mode .modalAddon {
  -webkit-filter: invert(0.75);
  filter: invert(0.75);
}
.dark_mode .secHeading {
  color: var(--darkmode-text) !important;
  border-right: 3px solid var(--subheader-red);
  border-left: 3px solid var(--subheader-red);
  text-shadow: 0 0 1px var(--subheader-red);
}
.dark_mode div.card {
  background-color: var(--header-grey) !important;
  background: linear-gradient(
    145deg,
    hsl(210deg 10.34% 15%) 10%,
    var(--header-grey) 100%
  );
  border: 1px solid #545b62;
}
.dark_mode div.card * {
  color: var(--loading-bg) !important;
}
.dark_mode #interests #interestsCarousel {
  filter: saturate(0) contrast(1.4);
}
.dark_mode #interests #interestsCarousel:hover {
  filter: saturate(0) contrast(1.3) brightness(1.2)
    drop-shadow(1px 1px 5px rgb(255 0 0 / 0.3));
  transform: scale(1.05);
}
@-webkit-keyframes pulse {
  from {
    color: var(--header-orange);
    text-shadow: 0 0 2px var(--icon-bug);
  }
  to {
    color: var(--icon-bug);
    text-shadow: 0 0 0 var(--darkmode-bg);
  }
}
@keyframes pulse {
  from {
    color: var(--header-orange);
    text-shadow: 0 0 2px var(--icon-bug);
  }
  to {
    color: var(--icon-bug);
    text-shadow: 0 0 0 var(--darkmode-bg);
  }
}
@keyframes clicker {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes clicker {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes faderAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes faderAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes redGlow {
  from {
    -webkit-filter: drop-shadow(0 0 6px var(--darkmode-bg))
      drop-shadow(0 0 10px var(--darkmode-bg))
      drop-shadow(0 0 20px var(--darkmode-bg))
      drop-shadow(0 0 30px var(--blood))
      drop-shadow(0 0 50px var(--subheader-red)) drop-shadow(0 0 60px red)
      drop-shadow(0 0 70px var(--blood))
      drop-shadow(0 0 80px var(--subheader-red));
    filter: drop-shadow(0 0 6px var(--darkmode-bg))
      drop-shadow(0 0 10px var(--darkmode-bg))
      drop-shadow(0 0 20px var(--darkmode-bg))
      drop-shadow(0 0 30px var(--blood))
      drop-shadow(0 0 50px var(--subheader-red)) drop-shadow(0 0 60px red)
      drop-shadow(0 0 70px var(--blood))
      drop-shadow(0 0 80px var(--subheader-red));
  }
  to {
    -webkit-filter: drop-shadow(0 0 3px var(--darkmode-bg))
      drop-shadow(0 0 5px var(--darkmode-bg))
      drop-shadow(0 0 10px var(--darkmode-bg))
      drop-shadow(0 0 15px var(--blood))
      drop-shadow(0 0 25px var(--subheader-red)) drop-shadow(0 0 30px red)
      drop-shadow(0 0 35px var(--blood))
      drop-shadow(0 0 50px var(--subheader-red));
    filter: drop-shadow(0 0 3px var(--darkmode-bg))
      drop-shadow(0 0 5px var(--darkmode-bg))
      drop-shadow(0 0 10px var(--darkmode-bg))
      drop-shadow(0 0 15px var(--blood))
      drop-shadow(0 0 25px var(--subheader-red)) drop-shadow(0 0 30px red)
      drop-shadow(0 0 35px var(--blood))
      drop-shadow(0 0 50px var(--subheader-red));
  }
}
@keyframes redGlow {
  from {
    -webkit-filter: drop-shadow(0 0 6px var(--darkmode-bg))
      drop-shadow(0 0 10px var(--darkmode-bg))
      drop-shadow(0 0 20px var(--darkmode-bg))
      drop-shadow(0 0 30px var(--blood))
      drop-shadow(0 0 50px var(--subheader-red)) drop-shadow(0 0 60px red)
      drop-shadow(0 0 70px var(--blood))
      drop-shadow(0 0 80px var(--subheader-red));
    filter: drop-shadow(0 0 6px var(--darkmode-bg))
      drop-shadow(0 0 10px var(--darkmode-bg))
      drop-shadow(0 0 20px var(--darkmode-bg))
      drop-shadow(0 0 30px var(--blood))
      drop-shadow(0 0 50px var(--subheader-red)) drop-shadow(0 0 60px red)
      drop-shadow(0 0 70px var(--blood))
      drop-shadow(0 0 80px var(--subheader-red));
  }
  to {
    -webkit-filter: drop-shadow(0 0 3px var(--darkmode-bg))
      drop-shadow(0 0 5px var(--darkmode-bg))
      drop-shadow(0 0 10px var(--darkmode-bg))
      drop-shadow(0 0 15px var(--blood))
      drop-shadow(0 0 25px var(--subheader-red)) drop-shadow(0 0 30px red)
      drop-shadow(0 0 35px var(--blood))
      drop-shadow(0 0 50px var(--subheader-red));
    filter: drop-shadow(0 0 3px var(--darkmode-bg))
      drop-shadow(0 0 5px var(--darkmode-bg))
      drop-shadow(0 0 10px var(--darkmode-bg))
      drop-shadow(0 0 15px var(--blood))
      drop-shadow(0 0 25px var(--subheader-red)) drop-shadow(0 0 30px red)
      drop-shadow(0 0 35px var(--blood))
      drop-shadow(0 0 50px var(--subheader-red));
  }
}
@-webkit-keyframes redGlow {
  from {
    -webkit-filter: drop-shadow(0 0 6px var(--darkmode-bg))
      drop-shadow(0 0 10px var(--darkmode-bg))
      drop-shadow(0 0 20px var(--darkmode-bg))
      drop-shadow(0 0 30px var(--blood))
      drop-shadow(0 0 50px var(--subheader-red)) drop-shadow(0 0 60px red)
      drop-shadow(0 0 70px var(--blood))
      drop-shadow(0 0 80px var(--subheader-red));
    filter: drop-shadow(0 0 6px var(--darkmode-bg))
      drop-shadow(0 0 10px var(--darkmode-bg))
      drop-shadow(0 0 20px var(--darkmode-bg))
      drop-shadow(0 0 30px var(--blood))
      drop-shadow(0 0 50px var(--subheader-red)) drop-shadow(0 0 60px red)
      drop-shadow(0 0 70px var(--blood))
      drop-shadow(0 0 80px var(--subheader-red));
  }
  to {
    -webkit-filter: drop-shadow(0 0 3px var(--darkmode-bg))
      drop-shadow(0 0 5px var(--darkmode-bg))
      drop-shadow(0 0 10px var(--darkmode-bg))
      drop-shadow(0 0 15px var(--blood))
      drop-shadow(0 0 25px var(--subheader-red)) drop-shadow(0 0 30px red)
      drop-shadow(0 0 35px var(--blood))
      drop-shadow(0 0 50px var(--subheader-red));
    filter: drop-shadow(0 0 3px var(--darkmode-bg))
      drop-shadow(0 0 5px var(--darkmode-bg))
      drop-shadow(0 0 10px var(--darkmode-bg))
      drop-shadow(0 0 15px var(--blood))
      drop-shadow(0 0 25px var(--subheader-red)) drop-shadow(0 0 30px red)
      drop-shadow(0 0 35px var(--blood))
      drop-shadow(0 0 50px var(--subheader-red));
  }
}
@keyframes redGlowConstBTN {
  from {
    -webkit-filter: drop-shadow(3px 3px 7px var(--darkmode-bg))
      drop-shadow(0 0 3px red);
    filter: drop-shadow(3px 3px 7px var(--darkmode-bg)) drop-shadow(0 0 3px red);
  }
  to {
    -webkit-filter: drop-shadow(1px 1px 3px var(--darkmode-bg))
      drop-shadow(1px 1px 7px var(--custom-pink));
    filter: drop-shadow(1px 1px 3px var(--darkmode-bg))
      drop-shadow(1px 1px 7px var(--custom-pink));
  }
}
@-webkit-keyframes redGlowConstBTN {
  from {
    -webkit-filter: drop-shadow(3px 3px 7px var(--darkmode-bg))
      drop-shadow(0 0 3px red);
    filter: drop-shadow(3px 3px 7px var(--darkmode-bg)) drop-shadow(0 0 3px red);
  }
  to {
    -webkit-filter: drop-shadow(1px 1px 3px var(--darkmode-bg))
      drop-shadow(1px 1px 7px var(--custom-pink));
    filter: drop-shadow(1px 1px 3px var(--darkmode-bg))
      drop-shadow(1px 1px 7px var(--custom-pink));
  }
}
@keyframes redGlowConst {
  from {
    -webkit-filter: hue-rotate(350deg) contrast(150%) brightness(90%)
      saturate(90%) grayscale(50%) drop-shadow(3px 3px 8px var(--darkmode-bg))
      drop-shadow(0 0 5px red);
    filter: hue-rotate(350deg) contrast(150%) brightness(90%) saturate(90%)
      grayscale(50%) drop-shadow(3px 3px 8px var(--darkmode-bg))
      drop-shadow(0 0 5px red);
  }
  to {
    -webkit-filter: hue-rotate(350deg) contrast(150%) brightness(90%)
      saturate(90%) grayscale(50%) drop-shadow(3px 3px 8px var(--darkmode-bg))
      drop-shadow(1px 1px 8px var(--blood));
    filter: hue-rotate(350deg) contrast(150%) brightness(90%) saturate(90%)
      grayscale(50%) drop-shadow(3px 3px 8px var(--darkmode-bg))
      drop-shadow(1px 1px 8px var(--blood));
  }
}
@-webkit-keyframes redGlowConst {
  from {
    -webkit-filter: hue-rotate(350deg) contrast(150%) brightness(90%)
      saturate(90%) grayscale(50%) drop-shadow(3px 3px 8px var(--darkmode-bg))
      drop-shadow(0 0 5px red);
    filter: hue-rotate(350deg) contrast(150%) brightness(90%) saturate(90%)
      grayscale(50%) drop-shadow(3px 3px 8px var(--darkmode-bg))
      drop-shadow(0 0 5px red);
  }
  to {
    -webkit-filter: hue-rotate(350deg) contrast(150%) brightness(90%)
      saturate(90%) grayscale(50%) drop-shadow(3px 3px 8px var(--darkmode-bg))
      drop-shadow(1px 1px 8px var(--blood));
    filter: hue-rotate(350deg) contrast(150%) brightness(90%) saturate(90%)
      grayscale(50%) drop-shadow(3px 3px 8px var(--darkmode-bg))
      drop-shadow(1px 1px 8px var(--blood));
  }
}
@keyframes greenGlow {
  from {
    -webkit-filter: drop-shadow(0 0 6px white)
      drop-shadow(0 0 10px var(--darkmode-text))
      drop-shadow(0 0 20px var(--darkmode-text))
      drop-shadow(0 0 30px lightgreen) drop-shadow(0 0 50px darkgreen)
      drop-shadow(0 0 60px green) drop-shadow(0 0 70px lightgreen)
      drop-shadow(0 0 80px darkgreen);
    filter: drop-shadow(0 0 6px white)
      drop-shadow(0 0 10px var(--darkmode-text))
      drop-shadow(0 0 20px var(--darkmode-text))
      drop-shadow(0 0 30px lightgreen) drop-shadow(0 0 50px darkgreen)
      drop-shadow(0 0 60px green) drop-shadow(0 0 70px lightgreen)
      drop-shadow(0 0 80px darkgreen);
  }
  to {
    -webkit-filter: drop-shadow(0 0 2px white)
      drop-shadow(0 0 3px var(--darkmode-text))
      drop-shadow(0 0 7px var(--darkmode-text)) drop-shadow(0 0 10px lightgreen)
      drop-shadow(0 0 20px darkgreen) drop-shadow(0 0 25px green)
      drop-shadow(0 0 30px lightgreen) drop-shadow(0 0 40px darkgreen);
    filter: drop-shadow(0 0 2px white) drop-shadow(0 0 3px var(--darkmode-text))
      drop-shadow(0 0 7px var(--darkmode-text)) drop-shadow(0 0 10px lightgreen)
      drop-shadow(0 0 20px darkgreen) drop-shadow(0 0 25px green)
      drop-shadow(0 0 30px lightgreen) drop-shadow(0 0 40px darkgreen);
  }
}
@-webkit-keyframes greenGlow {
  from {
    -webkit-filter: drop-shadow(0 0 6px white)
      drop-shadow(0 0 10px var(--darkmode-text))
      drop-shadow(0 0 20px var(--darkmode-text))
      drop-shadow(0 0 30px lightgreen) drop-shadow(0 0 50px darkgreen)
      drop-shadow(0 0 60px green) drop-shadow(0 0 70px lightgreen)
      drop-shadow(0 0 80px darkgreen);
    filter: drop-shadow(0 0 6px white)
      drop-shadow(0 0 10px var(--darkmode-text))
      drop-shadow(0 0 20px var(--darkmode-text))
      drop-shadow(0 0 30px lightgreen) drop-shadow(0 0 50px darkgreen)
      drop-shadow(0 0 60px green) drop-shadow(0 0 70px lightgreen)
      drop-shadow(0 0 80px darkgreen);
  }
  to {
    -webkit-filter: drop-shadow(0 0 2px white)
      drop-shadow(0 0 3px var(--darkmode-text))
      drop-shadow(0 0 7px var(--darkmode-text)) drop-shadow(0 0 10px lightgreen)
      drop-shadow(0 0 20px darkgreen) drop-shadow(0 0 25px green)
      drop-shadow(0 0 30px lightgreen) drop-shadow(0 0 40px darkgreen);
    filter: drop-shadow(0 0 2px white) drop-shadow(0 0 3px var(--darkmode-text))
      drop-shadow(0 0 7px var(--darkmode-text)) drop-shadow(0 0 10px lightgreen)
      drop-shadow(0 0 20px darkgreen) drop-shadow(0 0 25px green)
      drop-shadow(0 0 30px lightgreen) drop-shadow(0 0 40px darkgreen);
  }
}
